<!-- <ion-header>
  <ion-toolbar>
    <ion-title>My Account Details</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="ion-no-padding" style="background: #000000; height: 100%">
    <ion-row class="profile_section_row" *ngIf="isUserLoggedIn">
        <div class="header_section">
          <div class="icon_section">
      <ion-icon name="basket" color="light" class="left_logo"></ion-icon>
    </div>
    <div class="profile_details_section">
      <div class="profile_details_header_section">
      <ion-label style="color: #FFFFFF;font-size: 14px;">Logged in as : {{userProfile.email}}</ion-label>
      
    </div>
    </div>
    </div>
    </ion-row>
    <div *ngIf="isUserLoggedIn">
      <ion-row class="ion-no-padding">
              <ion-button expand="block" size="default" color="light" (click)="myAllOrders()" style="width: 100vw;">
                  <ion-icon name="exit" slot="start"></ion-icon>
                  <ion-label>All Orders</ion-label>
                </ion-button>
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-button expand="block" size="default" color="light" (click)="viewSavedAddresses()" style="width: 100vw;">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>View Saved Addresses</ion-label>
          </ion-button>
</ion-row>
      <ion-row class="ion-no-padding">
              <ion-button expand="block" size="default" color="light" (click)="addNewAddress()" style="width: 100vw;">
                  <ion-icon name="exit" slot="start"></ion-icon>
                  <ion-label>Add New Address</ion-label>
                </ion-button>
      </ion-row>
      <!-- <ion-row class="ion-no-padding">
        <ion-button expand="block" size="default" color="light" (click)="updateExistingAddress()" style="width: 100vw;">
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label>Update Existing Address</ion-label>
          </ion-button>
</ion-row>
<ion-row class="ion-no-padding">
  <ion-button expand="block" size="default" color="light" (click)="updateSecurePIN()" style="width: 100vw;">
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>Update Secure PIN</ion-label>
    </ion-button>
</ion-row> -->
      <!-- <ion-row class="ion-no-padding">
        <ion-button expand="block" size="default" color="light" (click)="updateUserProfile()" style="width: 100vw;">
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label>Update Profile</ion-label>
          </ion-button>
</ion-row> -->
      <ion-row class="ion-no-padding">
              <ion-button expand="block" size="default" color="warning" (click)="onLogout()" style="width: 100vw;">
                  <!-- <ion-icon name="exit" slot="start"></ion-icon> -->
                  <ion-icon name="power" slot="start"></ion-icon>
                  <ion-label>Logout</ion-label>
                </ion-button>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
