<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Add your custom orders
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class='ion-no-padding'>
  <ion-grid style="min-height: 100vh; background: #a9a9a9;">
    <ion-list class="ion-text-center no_network_display_list">
      <ion-icon
        name="wifi"
        color="light"
        class="no_network_icon"
      ></ion-icon>
    </ion-list>
  </ion-grid>

</ion-content>

<ion-footer>

</ion-footer>