<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Half Login Modal
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<div class="ionic_modal_style">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          Login Header
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="onClose()">Close Modal</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
