<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/homepage/tabs/selectShop"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Select Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="danger" (click)="addCustomOrders()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Main content area -->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        size="12"
        size-sm="10"
        offset-sm="1"
        class="ion-text-center ion-no-padding"
      >
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img [src]="selectedShopDetails.shopImageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h5>{{ selectedShopDetails.shopName }}</h5>
            <p class="pre_item_rating_section">
              {{ selectedShopDetails.shopType }}
            </p>
          </ion-label>
          <!--
            <ion-label>
              <h5 class="shop_name">{{ shop.shopName }}</h5>
              <p class="pre_shop_rating_section">
                {{ shop.shopType }} . {{ shop.shopLocation }}
              </p>
              <ion-icon name="star" class="star_style"></ion-icon>
              <ion-text class="space_left">{{ shop.shopRating }}</ion-text>
              <ion-text class="space_dot">&#8226;</ion-text>
              <ion-text class="space_left_delivery">{{currentDeliveryTimeSchedule.deliveryTimeWithin1K}} mins</ion-text>
              <ion-text class="space_dot">&#8226;</ion-text>
              <ion-text class="space_left_delivery">Min. order &#8377;150</ion-text>
            </ion-label>
          -->
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <form
        #selectableItemsForm="ngForm"
        class="ion-no-padding"
        style="width: 100vw;"
      >
      <ion-col class="ion-no-padding">
        <ion-virtual-scroll
          [items]="shopOfferedItemsList"
          approxItemHeight="70px"
        >
          <ion-item *virtualItem="let product">
            <ion-avatar slot="start">
              <ion-img [src]="product.itemImageUrl"></ion-img>
            </ion-avatar>
            <ion-label>
              <h5 class="item_name">{{ product.itemName }}</h5>
              <p class="pre_item_rate_section">
                {{ product.itemBrand }} . {{ product.itemCategory }}
              </p>
              <ion-text class="space_left"
                >&#8377;{{ product.itemDiscountedRate }}</ion-text
              >
              <ion-text class="space_dot">&#8226;</ion-text>
              <ion-text class="space_left_delivery">{{product.itemWeight}}</ion-text>
            </ion-label>
            <div class="custom_add_sub_item_quantity_section">
              <ion-button
                (click)="checkForMultipleShopSelection(product.itemId ,selectableItemsForm)"
                style="color: #228B22;"
                fill="clear"
                strong
                >
                <ion-icon
                  name="add"
                  slot="icon-only"
                ></ion-icon>
              </ion-button>
              <ion-label>{{product.itemCount}}</ion-label> &nbsp;
              <ion-button
                (click)="decrement(product.itemId ,selectableItemsForm)"
                style="color: #228B22;"
                fill="clear"
                strong
              >
                <ion-icon name="remove" slot="icon-only"></ion-icon>
              </ion-button>
              <!-- <ion-button
                    (click)="incrementKG(customItem.itemId, customKGOrderForm)"
                    [disabled]="customItem.itemName === '' || customItem.itemCount >4"
                    style="color: #228B22;"
                    fill="clear"
                    strong
                  >
                    <ion-icon name="add" slot="icon-only"></ion-icon>
                  </ion-button>
                  &nbsp;
                  <ion-label>{{ customItem.itemCount }} kg</ion-label> &nbsp;
                  <ion-button
                    (click)="decrementKG(customItem.itemId, customKGOrderForm)"
                    [disabled]="customItem.itemCount <= 1"
                    style="color: #228B22;"
                    fill="clear"
                    strong
                  >
                    <ion-icon name="remove" slot="icon-only"></ion-icon>
                  </ion-button> -->
            </div>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
        </form>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-alert-controller></ion-alert-controller> -->
