<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/homepage/tabs/selectShop"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Select Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab horizontal="end" vertical="top" slot="fixed" edge> -->
      <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="addCustomOrders()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
      <ion-fab-button color="dark" (click)="searchItem()">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <!-- Main content area -->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        size="12"
        size-sm="10"
        offset-sm="1"
        class="ion-text-center ion-no-padding"
      >
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img [src]="selectedShopDetails.shopImageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h5>{{ selectedShopDetails.shopName }}</h5>
            <p class="pre_item_rating_section">
              {{ selectedShopDetails.shopType }}
            </p>
            <p *ngIf="selectedShopDetails.isShopOpen">
              Shop is open.
            </p>
            <p *ngIf="!selectedShopDetails.isShopOpen">
              Shop is closed.
            </p>
          </ion-label>
        </ion-item>
        <!-- <ion-row>
            <ion-col>
              <ion-searchbar debounce="500" showCancelButton="focus" cancelButtonText="Custom Cancel" animated inputmode="search"
              placeholder="What are you looking for ?" [(ngModel)]="searchText" (ionChange)="searchItems()"></ion-searchbar>
            </ion-col>
          </ion-row> -->
        <!-- <ion-item>
          <ion-searchbar
            debounce="500"
            showCancelButton="focus"
            cancelButtonText="Custom Cancel"
            animated
            inputmode="search"
            placeholder="What are you looking for ?"
            [(ngModel)]="searchText"
            (ionChange)="searchItems()"
          ></ion-searchbar>
        </ion-item> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <form
        #selectableItemsForm="ngForm"
        class="ion-no-padding"
        style="width: 100vw;"
      >
        <ion-col class="ion-no-padding">
          <ion-virtual-scroll
            [items]="shopOfferedItemsList"
            approxItemHeight="70px"
          >
          <!-- [items]="searchText === '' ? shopOfferedItemsList : copyShopOfferedItemsList" -->
            <ion-item
              *virtualItem="let product"
              [ngClass]="product.itemAvailable ? 'item_in_stock' : 'item_out_stock'"
            >
              <ion-avatar slot="start">
                <ion-img [src]="product.itemImageUrl"></ion-img>
              </ion-avatar>
              <ion-label>
                <h5 class="item_name">{{ product.itemName }}</h5>
                <p class="pre_item_rate_section">
                  {{ product.itemBrand | titlecase}} . {{ product.itemCategory |
                  titlecase}}
                </p>
                <ion-text class="space_left"
                  >&#8377;{{ product.itemDiscountedRate }}</ion-text
                >
                <ion-text class="space_dot">&#8226;</ion-text>
                <ion-text class="space_left_delivery"
                  >{{product.itemWeight}} {{product.itemUnit}}</ion-text
                >
                <ion-text class="space_dot" *ngIf="!product.itemAvailable"
                  >&#8226;</ion-text
                >
                <ion-text
                  class="space_left_delivery"
                  *ngIf="!product.itemAvailable"
                  style="color: #f04141; font-size: 10px;"
                  >Out Of Stock</ion-text
                >
              </ion-label>
              <div class="custom_add_sub_item_quantity_section">
                <ion-button
                  (click)="checkForMultipleShopSelection(product.itemId ,selectableItemsForm)"
                  style="color: #228B22;"
                  fill="clear"
                  strong
                  [disabled]="!product.itemAvailable"
                >
                  <ion-icon name="add" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-label>{{product.itemCount}}</ion-label> &nbsp;
                <ion-button
                  (click)="decrement(product.itemId ,selectableItemsForm)"
                  style="color: #228B22;"
                  fill="clear"
                  strong
                  [disabled]="!product.itemAvailable"
                >
                  <ion-icon name="remove" slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-virtual-scroll>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
