<!-- <ion-header>
  <ion-toolbar>
    <ion-title>partner-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="partnerMyShop">
            <ion-label>Items</ion-label>
            <ion-icon name="globe"></ion-icon>
          </ion-tab-button>
      <ion-tab-button tab="addProducts" color="tertiary">
          <ion-label>Add</ion-label>
          <ion-icon name="cloud-upload"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="partnerOrders" color="tertiary">
          <ion-label>Orders</ion-label>
          <ion-icon name="cart"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="partnerAccount" color="tertiary">
          <ion-label>Account</ion-label>
          <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
