<ion-header>
  <ion-toolbar>
    <ion-title>Choose Your Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #040103;">
  <!-- <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    *ngIf="!networkStatus"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-grid style="padding-bottom: 1rem;padding-top: 1rem;">
  <div>
    <ion-slides pager="true" [options]="slideOpts"><!-- pager="true"  -->
      <ion-slide>
        <ion-card color="primary" style="width: 100%;border-radius: .5rem;">
          <ion-card-header class="ion_card_header">
            <ion-card-subtitle>Step One</ion-card-subtitle>
            <!-- <ion-card-title style="font-size: 14px;">Choose your Preferred Shop</ion-card-title> -->
          </ion-card-header>
        
          <ion-card-content class="ion_card_content">
            Choose your Preferred Shop
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card color="primary" style="width: 100%;">
          <ion-card-header class="ion_card_header">
            <ion-card-subtitle>Step Two</ion-card-subtitle>
            <!-- <ion-card-title style="font-size: 14px;">Select Items</ion-card-title> -->
          </ion-card-header>
        
          <ion-card-content class="ion_card_content">
            Select Items
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card color="primary" style="width: 100%;">
          <ion-card-header class="ion_card_header">
            <ion-card-subtitle>Step Three</ion-card-subtitle>
            <!-- <ion-card-title style="font-size: 14px;">Order & Keep your family safe from COVID-19</ion-card-title> -->
          </ion-card-header>
        
          <ion-card-content class="ion_card_content">
            Order & Keep your family safe from COVID-19
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-grid>
  
  <ion-grid class="ion-no-padding">
    <!-- <ion-row *ngIf="!networkStatus" style="min-width: 100vw;background-color: black;"> -->
    <!-- <ion-row
      *ngIf="!networkStatus"
      style="min-width: 100vw;background-color: #a9a9a9;height: 50vh;"
    >
      <ion-col
        size="12"
        size-sm="12"
        class="ion-text-center ion-no-padding custom_background_no_network"
        *ngIf="!networkStatus"
      >
        <ion-list class="ion-text-center no_network_display_list">
          <ion-icon
            name="wifi"
            color="light"
            class="no_network_icon"
          ></ion-icon>
        </ion-list>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row
      *ngIf="!networkStatus"
      style="min-width: 100vw;background-color: #a9a9a9;min-height: 34vh;"
    >
      <ion-col>
        <ion-text
          >
          No Network. Please check your network and try again.
        </ion-text>
      </ion-col>
    </ion-row> -->
      <!-- <ion-row><ion-col>{{deviceFCMToken}}</ion-col></ion-row> -->
    <ion-row *ngIf="networkStatus">
      <ion-col
        size="12"
        size-sm="12"
        class="ion-text-center ion-no-padding"
        *ngIf="networkStatus"
      >
        <ion-list>
          <ion-item
            *ngFor="let shop of shopList"
            (click)="navigateToShopOfferedItemsPage(shop)"
            lines="full"
            class="row_padding"
            [ngClass]="shop.isShopOpen ? 'shop_open' : 'shop_Closed'"
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="shop.shopImageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h5 class="shop_name">{{ shop.shopName }}</h5>
              <p class="pre_shop_rating_section">
                {{ shop.shopType }} . {{ shop.shopLocation }}
              </p>
              <ion-icon name="star" class="star_style"></ion-icon>
              <ion-text class="space_left">{{ shop.shopRating }}</ion-text>
              <ion-text class="space_dot">&#8226;</ion-text>
              <ion-text class="space_left_delivery"
                >{{currentDeliveryTimeSchedule.deliveryTime7KTo8K}}
                mins</ion-text
              >
              <!-- <ion-text class="space_dot">&#8226;</ion-text> -->
              <!-- <ion-text class="space_left_delivery">Min. order &#8377;100</ion-text> -->
              <p
                *ngIf="!shop.isShopOpen"
                class="pre_shop_rating_section"
                style="color: red;"
              >
                Shop is Currently Closed.
              </p>
            </ion-label>
            <!-- <ion-label slot="end">
                <ion-icon name="arrow-dropright"></ion-icon>
              </ion-label> -->
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
