.space_left {
    margin-left: 2px;
    font-size: 12px;
    vertical-align: text-top;
    margin-right: 1px;
}

.space_left_delivery {
    font-size: 12px;
    vertical-align: text-top;
}

.space_dot {
    margin-left: 5px;
    margin-right: 7px;
}

.star_style {
    font-size: 12px;
    vertical-align: text-top;
}

.shop_name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.pre_shop_rating_section {
    font-size: 10px;
}

.shop_Closed {
    opacity: 0.5;
}

.no_network_icon {
    font-size: 25vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom_background_no_network {
    background-color: #000000;
}

.no_network_display_list {
    background-color: black;
}