.extra_features_signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.logo {
  font-size: 25vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
h6 {
  color: #ffffff;
  font-size: 1em;
}

ion-content {
  --background: var(--ion-color-primary);
}

ion-list {
  background-color: #000000;
}

.input_field {
  border-radius: 25px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  max-height: 28px;
}

.error_message {
  background-color: #000000;
  --background: #000000;
}

//   .sc-ion-input-md-h {
//       --padding-top: 0 !important;
//       --padding-bottom: 0 !important;
//       font-size: 18px;
//   }

.ion_input_style {
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
  font-size: 18px;
}
// .custom_input_style {
//     --placeholder-color : var(--ion-color-dark)
// }

// .label[floating],
// .label[stacked],
// .input-has-focus .label[floating] {
//     color: blue ;
// }

// .item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus.label-stacked.sc-ion-label-md-h ion-label {
//     --placeholder-color: var(--ion-color-dark) !important;
// }
