<ion-header>
  <ion-toolbar>
    <ion-title>Your Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="allOrdersCombined">
    <!-- <ion-row *ngIf="customOrdersKG">
      <ion-col> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col class="ordered_items">
        <ion-virtual-scroll [items]="allOrdersCombined" approxItemHeight="70px">
          <ion-item *virtualItem="let product" lines="none">
            <ion-label style="font-family: fantasy;">
              <h5 class="item_name">{{ product.itemName }}</h5>
              <ion-text *ngIf="product.orderType !== 'SELECT'">(Custom Order)</ion-text>
              <ion-text class="space_left" *ngIf="product.orderType === 'SELECT'">
                &#8377;{{ product.itemDiscountedRate }}</ion-text>
              <ion-text class="space_dot" *ngIf="product.orderType === 'SELECT'">&#8226;</ion-text><!-- -->
              <ion-text class="space_left_delivery" *ngIf="product.orderType === 'SELECT'">{{
                product.itemWeight
              }}</ion-text>
              <ion-text class="space_left_delivery" *ngIf="product.orderType !== 'SELECT'">
                {{product.itemCount}}{{product.itemUnit}}</ion-text>
            </ion-label>
            <div class="custom_add_sub_item_quantity_section">
              <ion-text style="font-family: fantasy; font-weight: bold;font-size: 18px;" *ngIf="product.orderType === 'SELECT'">{{ product.itemCount }} X &#8377;
                {{ product.itemDiscountedRate }} = &#8377;
                {{ product.totalPrice }}</ion-text
              >
              <ion-text style="font-family: fantasy; font-weight: bold;font-size: 14px;" 
              *ngIf="product.orderType !== 'SELECT'">Estimated Price to be sent
                  </ion-text>
            </div>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="allOrdersCombined.length === 0">
    <ion-row>
      <ion-col>
        <ion-text
          >Please select some item. We would love to serve you.</ion-text
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="allOrdersCombined.length > 0">
  <ion-toolbar>
    <!-- <ion-title> -->
      <ion-grid>
        <ion-row class="ion-no-padding" style="align-items: center;">
          <ion-col class="ion-no-padding" size="6">
            <ion-label>Grand Total : &#8377; {{ grandTotal }}</ion-label>
          </ion-col>
          <ion-col class="confirm_button_col" size="6">
            <ion-button
              color="success"
              size="small"
              (click)="placeOrder()">
              <ion-label>Place Order</ion-label>
              <ion-icon name="checkmark-circle-outline" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    <!-- </ion-title> -->
  </ion-toolbar>
</ion-footer>
