<ion-header>
  <ion-toolbar>
    <ion-title>
      Password Reset
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="ion-text-center">
    <ion-icon name="basket" class="logo" color="light"></ion-icon>
  </ion-list>
  <ion-list class="ion-text-center">
    <h1>Order it .</h1>
    <h6>You Order, We Deliver</h6>
  </ion-list>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="update()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1">
          <ion-item class="input_field">
            <ion-label position="floating" color="dark">Email</ion-label>
            <ion-input formControlName="email" type="email"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1">
          <ion-item class="input_field">
            <ion-label position="floating" color="dark"
              >4 - 6 digit secure PIN</ion-label
            >
            <ion-input formControlName="securePin" type="password" pattern="^[0-9]*$"
            maxlength="6">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1">
          <ion-item class="input_field">
            <ion-label position="floating" color="dark">New Password</ion-label>
            <ion-input formControlName="password" type="password"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1">
          <ion-item class="input_field">
            <ion-label position="floating" color="dark"
              >Confirm New Password</ion-label
            >
            <ion-input formControlName="confirmPassword" type="password">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.mustMatch">
              <label style="color: #FFFFFF;">Passwords must match </label>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button
            fill="outline"
            color="light"
            shape="round"
            type="submit"
            expand="block"
            [disabled]="f.confirmPassword.errors || f.email.errors"
          >
            Reset Password
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
