<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/homepage/tabs/cart"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-no-padding custom_order_conf_title_row">
    <ion-col size="10" size-sm="8" offset-sm="1" offset="1" class="order_confirm_title_class">
      <!-- <ion-item> -->
        Your Order has been confirmed
      <!-- </ion-item> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          <h5>{{ currentOrderDetails[0].shopId }}</h5>
          <p class="pre_item_rating_section">
            {{ currentOrderDetails[0].shopName }}
          </p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
