<ion-header>
    <ion-toolbar>
      <ion-title>
        All Orders
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="onClose()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="no_orders" *ngIf="myAllOrders.length === 0">
      <ion-label>You haven't ordered anything till now.</ion-label>
    </div>
    <div class="orders_present" *ngIf="myAllOrders.length > 0">
      <ion-list *ngFor="let order of myAllOrders">
        <ion-item>
          <div class="order_header">
            <ion-label>Order Status : {{order.orderStatus}}</ion-label>
          </div>
          <div class="order_header">
            <ion-label>Order Status : {{order.orderStatus}}</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>