/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-invalid.ion-touched ion-label {
    color: var(--ion-color-danger);
}

// .title_class {
//     --background: #C5C5C5;
//     --min-height: 200px !important;
//   }

  .action-sheet-group.sc-ion-action-sheet-md:first-child {
      min-height: 180px !important;
  }

  .action-sheet-title.sc-ion-action-sheet-md {
      min-height: 125px !important;
  }

//   .confirm_button {
//       --background: var(--ion-color-success);
//   }

  .action-sheet-button.sc-ion-action-sheet-md.actionsheet_confirm_button {
    background: var(--ion-color-success);
  }

  .action-sheet-button.sc-ion-action-sheet-md.actionsheet_cancel_button {
    background: var(--ion-color-danger);
  }

// .item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus.label-stacked.sc-ion-label-md-h ion-item.ion-label {
//     color: var(--ion-color-dark) !important;
// }