<ion-header>
  <ion-toolbar>
    <ion-title>
      Add New Address
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #updateAddressForm="ngForm">
    <ion-list class="ion_list_style">
      <ion-item>
        <ion-label position="floating" color="dark">Address Location</ion-label>
        <ion-select
          ngModel
          name="addressCategory"
          required
          addressCategory
          #addressCategoryCtrl="ngModel"
        >
          <ion-select-option value="HOME">Home</ion-select-option>
          <ion-select-option value="OTHER">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item
        *ngIf="!addressCategoryCtrl.valid && addressCategoryCtrl.touched"
        lines="none"
        class="error_message"
      >
        <ion-label style="font-size: 12px;">
          Please select the Address Type
        </ion-label>
      </ion-item>

      <ion-item class="input_field">
        <ion-input
          type="text"
          ngModel
          name="flatNumber"
          required
          text
          #flatNumberCtrl="ngModel"
          placeholder="Flat/House/Building Number"
          class="ion_input_style"
        >
        </ion-input>
      </ion-item>

      <ion-item
        *ngIf="!flatNumberCtrl.valid && flatNumberCtrl.touched"
        lines="none"
        class="error_message"
      >
        <ion-label style="font-size: 12px;">
          Please enter Flat/House Number or Building Number/Name
        </ion-label>
      </ion-item>

      <ion-item class="input_field">
        <ion-input
          type="text"
          ngModel
          name="addressLineOne"
          text
          required
          #addressLineOneCtrl="ngModel"
          placeholder="Address Line 1"
          class="ion_input_style"
        >
        </ion-input>
      </ion-item>

      <ion-item
        *ngIf="!addressLineOneCtrl.valid && addressLineOneCtrl.touched"
        lines="none"
        class="error_message"
      >
        <ion-label style="font-size: 12px;">
          Please enter location
        </ion-label>
      </ion-item>

      <ion-item class="input_field">
        <ion-input
          type="text"
          ngModel
          name="addressLineTwo"
          text
          #addressLineTwoCtrl="ngModel"
          placeholder="Address Line 2"
          class="ion_input_style"
        >
        </ion-input>
      </ion-item>

      <ion-item class="input_field">
        <ion-input
          type="tel"
          ngModel
          name="pincode"
          tel
          required
          minlength="6"
          maxlength="6"
          #pincodeCtrl="ngModel"
          placeholder="PINCODE"
          class="ion_input_style"
        >
        </ion-input>
      </ion-item>

      <ion-item
        *ngIf="!pincodeCtrl.valid && pincodeCtrl.touched"
        lines="none"
        class="error_message"
      >
        <ion-label style="font-size: 12px;">
          Please enter the area PINCODE
        </ion-label>
      </ion-item>

      <ion-item style="border-radius: 25px;margin-bottom: 10px;">
        <ion-label position="floating" color="dark">City</ion-label>
        <ion-select ngModel name="city" required city #cityCtrl="ngModel">
          <ion-select-option value="HYD">Hyderabad</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item
        *ngIf="!cityCtrl.valid && cityCtrl.touched"
        lines="none"
        class="error_message"
      >
        <ion-label style="font-size: 12px;">
          Please select the City
        </ion-label>
      </ion-item>

      <ion-item style="border-radius: 25px;margin-bottom: 10px;">
        <ion-label position="floating" color="dark">State</ion-label>
        <ion-select ngModel name="state" required state #stateCtrl="ngModel">
          <ion-select-option value="TELANGANA">Telangana</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item
        *ngIf="!stateCtrl.valid && stateCtrl.touched"
        lines="none"
        class="error_message"
      >
        <ion-label style="font-size: 12px;">
          Please select the State
        </ion-label>
      </ion-item>

      <ion-item class="input_field">
        <ion-input
          type="tel"
          ngModel
          name="mobileNumber"
          tel
          required
          minlength="10"
          maxlength="10"
          #mobileNumberCtrl="ngModel"
          placeholder="Mobile Number"
          class="ion_input_style"
        >
        </ion-input>
      </ion-item>
      <ion-item
        *ngIf="!mobileNumberCtrl.valid && mobileNumberCtrl.touched"
        lines="none"
        class="error_message"
      >
        <ion-label style="font-size: 12px;">
          Please enter your Mobile Number
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="dark">Use this address</ion-label>
        <ion-select
          ngModel
          name="isCurrentlyUsed"
          required
          isCurrentlyUsed
          #isCurrentlyUsedCtrl="ngModel"
        >
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item
        *ngIf="!isCurrentlyUsedCtrl.valid && isCurrentlyUsedCtrl.touched"
        lines="none"
        class="error_message"
      >
        <ion-label style="font-size: 12px;">
          Please select an option
        </ion-label>
      </ion-item>


      <ion-button
        fill="solid"
        color="primary"
        type="submit"
        expand="block"
        shape="round"
        (click)="onSubmit(updateAddressForm)"
        [disabled]="!updateAddressForm.valid"
      >
        <ion-label style="color: #FFFFFF;">Add Address</ion-label>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
