.custom_add_sub_style {
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    border: 1px solid;
    //min-height: 25px;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
}

.custom_select {
    width: 10px;
}

.custom_packs_header {
    //background: primary;
    ion-item{
        --inner-padding-end: 0px;
        //--padding-start:0px;
        --background: #000000;
        --color: #FFFFFF;
    }
}

// div.item-native {
//     background: black;
//     color: white;
// }



// ion-select {
//     max-width: 30px;
// }

// .custom_item_name_input {
//     border: 1px solid black;
//     margin-right: 5px;
//     min-height: 25px
// }