.custom_add_sub_style {
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    border: 1px solid;
    //min-height: 25px;
    align-items: center;
    border-radius: 20px;
}

// .custom_item_name_input {
//     border: 1px solid black;
//     margin-right: 5px;
//     min-height: 25px
// }